.index {
  /* height: 100%; */
  /* background: #FAD46B; */
  /* background: #f6c555; */
}

.img-card {
  width: 200px;
  height: 200px;
}

.slideshow-img {
  max-width: 800px;
  margin: 0px auto;
}
.slideshow {
  max-height: 400px;
}

.slideshow-buttons {
  font-size: 3em;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slideshow-previous {
  position: absolute;
  left: 0px;
  /* top: 0px; */
  /* bottom: 0px; */
}
.slideshow-next {
  position: absolute;
  right: 0px;
  /* top: 0px;
  bottom: 0px; */
}

.waffle-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
