@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

html, body {
  margin: 0;
}
body {
  font-family: 'Helvetica', sans-serif;
}

.body-menu-open {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background: #fff;
  flex: 1;
  width: 100vw;
  position: relative;
}



footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  background: #e03228;
  color: #fff;
  height: 80px;
  max-height: 80px;
  padding: 10px 20px;
}

#outer-container {
  background: #2e3131;
}

#page-wrap {
}

.location-alert {
  position: fixed;
  margin: 0 auto;
  bottom: 0px;
  flex-grow: initial;
  min-width: 288px;
  background: #339AF0;
  color: #fff;
  display: flex;
  padding: 6px 16px;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: space-apart;
  border-radius: 4px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.close-alert{
  margin-left: 20px;
} 



